---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?limit=5&q=Normal%20People
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.076 TT 0 0.079"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 477,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL20150260W",
                    "type": "work",
                    "seed": [
                        "/books/OL31957872M",
                        "/books/OL27735764M",
                        "/books/OL27735763M",
                        "/books/OL28367807M",
                        "/books/OL27856861M",
                        "/books/OL27735761M",
                        "/books/OL37025299M",
                        "/books/OL27735765M",
                        "/books/OL28237078M",
                        "/books/OL27735762M",
                        "/books/OL273[...]
